:root {
	--bg-color: #181718;
	--s-bg-color: #222124;
	--t-bg-color: #28272b;
	--text-color: #cdcdcd;
	--accent-color: #ffffff;
	--delivered: #00ff47;
	--ready-for-pick-up: #000aff;
	--en-route: #ff9900;
	--at-warehouse: #ffffff;
	--prepared-for-delivery: #ebff00;
	--awaiting-drop-off: #9a9a9a;
	--action-btn: #376f40;
	--s-action-btn: #34844a;
	--error: #c55b5b;
	--s-error: #e92e2e;
	--section-sep: #494844;
	--border: #374d6f;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Barlow', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
}

::selection {
	background-color: var(--accent-color);
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	margin-block-start: 0;
	margin-block-end: 0;
}

h1 {
	font-size: 3.6rem;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

select,
input,
button,
a {
	&:focus-visible {
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}
}
